.cmp-picker-collapse{
box-shadow: 3px -1px 3px -3px #000000;
position: relative;
display: flex;
flex-direction: column;

.collapse-items {
    padding:  0px 0px;
    // padding:10px;
}

.el-collapse-item{
    >div{
        padding: 0px 5px;
    }
}
}
   

   