.cmp-picker-collapse{
box-shadow: 3px -1px 3px -3px #000000;
position: relative;
display: flex;
flex-direction: column;
// background-color: #2f3542 ;
background-color: #40407a ;
background-color: #ececff ;


color: #f7f1e3;


.collapse-items {
    padding:  0px 0px;
    // padding:10px;
}



.el-collapse-item{
    
    >div{
        padding:0px 10px;
        // background-color: #2f3542 ;
        background-color: #40407a ;
        background-color: #ececff ;
        border-bottom: 1px solid rgba(0, 0, 0, 0.226);
        div{
            background-color: #40407a ;
            background-color: #ececff ;
            border: none;
            font-weight: 400;
            font-size:1em;
            color: #f7f1e3;
            color: #40407a;
            font-family: poppins;
        }
    }
}
.el-collapse-item:hover div>div{
    background-color: rgba(199, 199, 199, 0.11);


}
}


   

   