.create-wap-modal{
    padding: 13px;
    height:100%;

    color: transparent;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow: 0px 3px 3px rgba(255,255,255,0.5);

    .new-website-form{
        display: flex;
        width: 100%;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
            .el-form-item{
                .el-form-item__content{
                    margin-left: 0!important;

                }
        }
    }
    .name-box{

        width: 100%;
        display: flex;
    }

    .invite-box{
        display: flex;
        width: 100%;
        align-items: flex-start;
        gap: 20px;
        .box-card{
            width: 100%;
            height: 200px;
            .el-card__header{
                text-align: center;
                padding: 10px !important;
            }
            .item{
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                border-bottom: 1px rgba(97, 95, 95, 0.185) solid;
                padding: 5px;
                .el-avatar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 30px;
                    height: 30px;
                    font-size:15px;
                    
                }
            };
            .clearfix{
                color: #2f3542b2;
            }
            .item:hover{
                background-color: rgba(216, 216, 216, 0.233);
                cursor: pointer;
            }
            
            .el-card__body{
                overflow: auto;
                height: 100%;
                padding-bottom:50px;

            }
            .el-card__body::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }
  
  .el-card__body::-webkit-scrollbar
  {
    width: 7px;
    background-color: #F5F5F5;
  }
  
  .el-card__body::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9191917e;
  }

        }


    }

    button{
        background-color: #2f3542;
        border: none;
        width: 200px;
        color: rgba(194, 194, 194, 0.575);
    }

    button:hover{
        background-color: #2f3542;
        color: #fff;
     
    }

    input{
        max-width:300px;
    }
    .el-form-item__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:30px 0px;
        margin-left: 0!important;

    }
}
