.cursor{
    position: fixed;
    font-size: 12px;
    z-index: 99999999999999;
    color: white;
    display: flex;
    flex-direction: column;
    
    
    i{
        font-size: 20px;
        
    }
    span:first-letter{
        text-transform: uppercase;
    
    }
}
