.element-tool-bar, .basic-el-toolbar{
    display: flex;
    position: absolute;
    gap: 3px;
    justify-content: flex-start;
    margin-bottom: 70px;
    z-index: 400;
    .tool-element{
        box-shadow: 0 1px 3px 1px rgb(0 0 0 / 24%);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .9rem;
        cursor: pointer;
        background-color: #f7f1e3;
        border: none;
    
    img{
        opacity: 0.7
    }
    }
       
}
.element-tool-bar{
    padding: 0 !important;
}
.img-upload.element-editor {
    position: absolute;
    top: 25px;
    width:fit-content;
    right: 0;
    text-align: center;
    img{
        height: 25px;
    }
    .linkable{
        display: flex;
        flex-direction: column;
    }
    button{
    // background-color: cornsilk;
    border: none;
    margin-top: 5px;
    padding: 7px!important;
    width:70px;
    font-family: 'Poppins';
    }
}


@media (max-width: 800px) {
    .element-editor{
        right: unset !important;
        width: 224px !important;
    }
}
