.home-page{
  padding-top:10vh;
    display: flex;
    flex-direction: column;
    background-color: #f7f1e3;
    background-color: #f5f5f5c0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .get-started-container{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      video{
        padding-bottom: 11px;
        object-fit:contain;
        z-index: 2;
        top: 0vh;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
        width: 95%;
      }
    }

    .hero{
      display: flex;
    flex-direction: column;
    align-items: center;
    }
    .lotti-animation{
      width: 500px; height: 400px
    }

    

    .video-background-container{
      position: absolute;
      top: 50vh;
      // z-index: -1;
    }

    .video-container{
      position: relative;
    }

    .homepage-video-container{
      // width: 900px;
      // z-index: -1;
    }

    .title{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: Montserrat;
      // font-weight: bold;
        line-height: 1em;
        padding-top: 30px;
        text-align: center;
        max-width:700px;
        color: rgba(14, 14, 14, 0.788);
          text-align: center;
            h1{
                font-size:50px;
                line-height: 1.2em;
                margin:0;
            }
            p{
              font-size:1.2em;
              line-height:33px;
      font-weight: bold;

            }
    }

    .home-page-btn{
      z-index: 3;

    }
    
        .home-page-span a{
            background:  #B7DBFF;
            background:#f66136;
            font-size: 1.25rem;
            border: 0;
            font-family: Montserrat;
            font-weight: bold;
            cursor: pointer;
            margin-top: 28px;
            padding:5px;
            display: block;
            border-radius: 50px;
            width: 180px;
            text-align: center;
            box-shadow: 2px 2px 3px rgb(0 0 0 / 30%);
            text-decoration: none;
            transition: 0.3s;
      color: white;

    }
    .home-page-span a:hover{
      background:  #abcef1;
      background:#ffb26a;

    }


}

.homepage-first-card{
    height: 70vh;
    width: 100%;
    display:flex ;
    padding: 0px 10vw;
    background-color:#ebebeb;
    justify-content: space-between;
    align-items: center;
    margin-top: 17em;
    font-family: poppins;

// >div{
//   display:flex ;
//   flex-direction: column;
//   align-items: flex-start;
// }
    img{
      max-width:400px;
    }
  }
  .homepage-first-card-inner{
    display:flex ;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
    align-items: center;
  }
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(50vw);
              transform: translateX(50vw);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

.homepage-second-card{
    // height: 70vh;
    width: 100%;
    display:flex ;
    flex-direction: row-reverse;
    padding: 0px 10vw;
    background-color: #f5f5f5c0;
    justify-content: space-between;
    align-items: center;
    margin-top: 7em;

    img{
      max-width:400px;
    }
  }
.homepage-third-card{
    // height: 70vh;
    width: 100%;
    display:flex ;
    padding: 0px 10vw;
    background-color:#ebebeb;
    justify-content: space-between;
    align-items: center;
    margin-top: 7em;

    img{
      max-width:400px;
    }
  }


  .homepage-second-card-inner{
    flex-direction: row-reverse;
    display:flex ;
    justify-content: space-between;
    width: 100%;
    gap: 80px;
    align-items: center;
  }

  

 .slide-in-left {
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-50vw);
            transform: translateX(-50vw);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



.home-page-card-span a{
  color:rgba(83, 83, 83, 0.637);
  font-size: 1rem;
  border-bottom: 1px rgba(0, 0, 0, 0.212) solid;
  cursor: pointer;
  display: block;
  width: 140px;
  text-decoration: none;
  transition: 0.3s;
}

.home-page-card-span a:hover{
  color: #70a1ff;
  border-bottom: 1px #70a2ff83 solid;
  
}


.homepage-3rd-card{
  height: 70vh;
  width: 40%;
  min-width: 400px;
  display:flex ;
  padding: 0px 10vw;
  background-color:#74baff91;
  justify-content: space-between;
  align-items: center;
  margin-top: 7em;
  margin-left: 30px;


  font-family: poppins;
  background-color: #2ecc71;
}


@media (max-width:700px){
  .video-background-container{
    display: none;
  }

  .homepage-first-card{
    margin-top: 6em;
    height: 90vh;
    .homepage-first-card-inner{
      flex-direction:column;
      gap: 10px;
    }
  }
  .homepage-second-card{
    height: 70vh;
      flex-direction:column;
      gap: 10px;
  }

  .homepage-third-card{
    height: 90vh;
    .homepage-second-card-inner{
      flex-direction:column;
      gap: 10px;
    }
  }

  .lotti-animation{
    width: 300px!important; 
    height: 200px!important;
  }



}

.footer{
  height:5vh;
  background-color: #f66136;
  width:100%;
  color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-weight: bold;

}