.templates-page{
    padding-top: 5em;
    background-color:#f1f2f6;
    font-family: poppins;
    height:100vh;
    margin: 0;
   
    }
    .template-list{
    //  display: flex;
    //  flex-wrap: wrap;
    //  justify-content: center;
    //  height: 250px;
        img{
            height: 140px;
            object-fit: fill;
        }
   
    }



.template-preview-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 80vw;
    justify-content: center;
    gap: 40px;

    div{
        text-align: center;
        width:300px;
        box-shadow: 0px 1px 10px -5px rgb(0 0 0 / 58%);
        transition: all 0.3s;

        img{
            object-fit:contain;
        }
    }
    div:hover{
        opacity: 0.8;
        cursor: pointer;
    }

}

.templates-page-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    line-height:16px;
    padding-top: 50px;
    font-family: Montserrat;
}
