.templates-page {
  padding-top: 5em;
  background-color: #f7f1e3;
  background-color: #f5f5f5c0;

  font-family: poppins;
  min-height: 100vh;
  margin: 0;
}
.template-list {
  img {
    height: 140px;
    object-fit: fill;
  }
}

.template-preview-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 75vw;
  justify-content: center;
  gap: 40px;
  padding-bottom: 2em;

  .add-new {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    color: white;
    font-size: 22px;
    cursor: pointer;
    .el-card__body {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .add-new-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      div {
        display: none;
      }
    }
  }
  .el-card__body {
    text-align: center;
    width: 300px;
    height: 200px;
    box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.295);
    transition: all 0.4s;
    border-radius: 10px;
    opacity: 0.95;
    cursor: pointer;
  }
  .el-card__body:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}

.templates-page-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 16px;
  padding-top: 50px;
  font-family: Montserrat;
  font-size: 1.3em;
  color: transparent;
  background: #666666;
  padding-bottom: 30px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.315);
  // text-transform: uppercase;
}

.color-change-2x {
  -webkit-animation: color-change-2x 10s linear infinite alternate both;
  animation: color-change-2x 10s linear infinite alternate both;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

@media (max-width: 768px) {
  .templates-page-title {
    text-align: center;
    h1 {
      line-height: 50px;
    }
  }
}

button.el-button.el-button--primary {
  color: whitesmoke;
}

button.el-button.el-button--primary:hover {
  background-color: #409eff;
}
