.templates-page{
    background-color: rgb(210, 241, 251);

    h1{
        text-align: center;
        font-size: xx-large;
    }
    .template-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        img{
            height: 300px;
        }
    }

    
}