.wap-builder{
    width: 100%;
    padding-top: 3px;
    height:100vh;
    // border-top: 1px solid rgba(196, 195, 195, 0.336);
    box-shadow: 3px -1px 2px -3px #000000;
    padding-left: 7px;
    background-color: #e9e9e963;
    overflow: auto;
    transition: 1s;
    cursor: grab;
    
    
}

.wap-builder-fullscreen{
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    border-top: 1px solid rgba(196, 195, 195, 0.336);
    background-color: #e9e9e963;
    overflow: auto;
    transition: 1s;
}


.is-full-wap-btn{
 
    position: fixed;
    bottom: 5vh;
    font-size: 1.2em;
    right: 3vw;
    z-index: 9999999;
}