
.wap-dynamic:hover{
        outline:dashed 2px rgba(192, 192, 192, 0.993);
        z-index: 9999;
        overflow: visible !important;
        // background-color: green;
        img:hover{
                        outline:dashed 2px rgba(192, 192, 192, 0.993);
        }
}
.smooth-dnd-draggable-wrapper{
        overflow: visible !important;
}

.wap-dynamic, .wap-dynamic-publish{
        // &>*:not(.wap-container){
        padding-left: 40px;
        padding-right: 40px;
        // }
}
