.wap-publish{
    position: fixed;
    padding-left: 20px;
    bottom: 7vh;

    span{
        font-size:1.2em;
    }
}

.back-to-edit-btn{
    position: fixed;
    padding: 13px;
    bottom: 4vh;
    right:4vw
}