
.wap-dynamic:hover{
        outline:dashed 2px rgba(192, 192, 192, 0.993);
        z-index: 9999;
        overflow: visible !important;
        // background-color: green;
        img:hover{
                outline:dashed 2px rgba(192, 192, 192, 0.993);

        }
}
.smooth-dnd-draggable-wrapper{
        // width: unset; /////////////////
        overflow: visible !important;
}

.wap-dynamic{
        
        &>*:not(.wap-container){
                padding: 70px 50px;
        }
        .wap-container>*{
                padding: 50px 50px;
                width: 100%;
                &>*{
                        // width: 100%;
                        padding: 20px;
                }
        }                   
}


.wap-dynamic-publish{

        &>*{
                padding: 50px 50px;
        }
        .wap-container>*{
                padding: 20px 20px;
                width: 100%;
                // &>*{
                        // width: 100%;
                //         padding: 20px;
                // }
        }
}

@media (max-width : 800px) {
        .wap-dynamic{
        
                &>*:not(.wap-container){
                        padding: 20px 15px;
                }
                .wap-container>*{
                        padding: 20px 15px;
                        width: 100%;
                        &>*{
                                width: 100%;
                                padding: 20px;
                        }
                }                   
        }
        .wap-dynamic-publish{

                &>*{
                        padding: 20px 15px;
                }
                .wap-container>*{
                        padding: 20px 15px;
                        // width: 100%;
                        // &>*{
                        //         width: 100%;
                        //         padding: 20px;
                        // }
                }
        }
}

         
        