.wap-img-sunny{
    width: 50%;
    height:100%;
    
    img{
        object-fit:cover;
        vertical-align: middle;
    }
}

.wap-bg-img{
    background-size: cover !important;
    background-repeat: no-repeat !important;
}