
.txt-cmp{
    display: flex;
    flex-direction: column;
    padding: 33px 24px;

    .title{
        font-family: poppins;

    }
    .sub-title{
        font-family: Arial, Helvetica, sans-serif;
    }
}