.customer{
    margin-top: 1.4em;
    display: flex;
    align-items: center;
    gap: 1em;
    
    img:not( .basic-el-toolbar img){
        max-width:90px;
        border-radius: 55rem;
        h5{
            font-weight: 700;
    
            span{
                font-weight: 400;
                font-size: 11px;
            }
        }
    }
}