.wap-container-flex{
    display: flex !important;
    // padding: 4em 0px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.wap-container-center{
    display: flex !important;
    justify-content: center;
   
}
.wap-container-reverse{
    display: flex;
   
}
.wap-container-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.wap-container-column{
    display: flex;
    width: 100%;
}
.burger-btn{
    display: none;
}

.wap-container-fullscreen{
    padding-top: 20px;
    color: white;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0;
    background-color: rgb(136, 136, 136);
    height: 100vh;

}

.feliciano-landing-page{
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-blend-mode:darken;
        background-position: bottom;
        height: 60vh;
        background-attachment: fixed;

        .wap-header-feliciano{
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            .nav-bar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                // margin-top: 1rem;
                // margin-right: 40px;
                a{
                    // margin-right: 30px;
                    margin-inline-start: 40px;

                }
                a:hover{
                   color: #c8a97e;

                }
            }
            .logo{
                h2{
                    // margin-inline-start: 50px;
                    // margin-top: 1rem;
                    margin-bottom: 0;
                }
            }
        }
        .landing-feliciano{
            // margin-top: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            // grid-row: 2 / 5;
            // grid-column: 1 / span 4;
            h1{
                font-size:3em;
                font-family: arial,sans-serif;
                color: rgba(255, 255, 255, 0.548);
            }
            // background-color: cornflowerblue;
        }

}


.feliciano-menu-gallery{
    display: flex !important;
    justify-content: center;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    img{
        
        vertical-align: middle;
    }
    // .feliciano-menu-gallery>*{
    //     grid-row: span 1;
    //     grid-column: span 1;
    // }
 
    .text-block{
        display: flex;
        justify-content:center;
        flex-direction:column;
        align-items: flex-start;
        padding-left: 10px;
        h1{
            font-size: 16px;
            margin: 0;
            max-width:18ch;
        }
        p{
            margin: 0;
        }
        button:not(.tool-element){
            background-color: #c8a97e;
            border: none;
        }
    }  
        
}

.feliciano-menu-gallery>*{
    flex: 1;
}
.wap-gallery-feli{
    display: flex !important;
}

.wap-menu-card{
    display: flex;
    align-items: center;
    justify-content:center;
    h1{
        font-size: 16px;
    }
    button{
        background-color: #c8a97e;
        border: none;
    }
}

.wap-chef-preview{
    display: flex;
    flex-direction: column-reverse;
    
    // width:25%;
    padding: 20px;

    .text-block{
        h1{
            font-size:1.2em;
        }
        button:not(.tool-element){
            background-color:#c8a97e;
            border: none;
        }
    }
}
.wap-catering-preview{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    // width:33%;
    // padding: 10px;
    
    .basic-img{
        max-width: 50%;
        img{
            object-fit: contain;

        }
    }

    .text-block{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size:1.2em;
        }
        p{
            // font-size:16px;
        }
    }
}

.feliciano-review-container{
        display: grid !important;
        justify-content: space-between;
        // align-items: center;
        // justify-content: center;
        gap: 20px;
        color: $White;
        grid-template-columns: repeat(auto-fit, minmax(100px, 360px));
        width: 100%;
        .feliciano-review{
            position: relative;
            // padding: 2em;
            color: rgba(61, 61, 61, 0.685);
            border-radius: 0.3em;
            max-width: 360px;

            .review-card{
                p{
                    font-size:18px;
                    font-family: Montserrat;
                    margin:0;

                }
            }
            .customer :nth-child(2){
                gap: 0;
                p{
                    font-family:Montserrat;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.623);
                    padding-left: 10px;
                }
            }
            .customer :nth-child(3){
                gap: 0;
                P{
                    color: rgba(0, 0, 0, 0.623);
                    padding-left: 10px;
                    font-size: 14px;
                    color: #c8a97e;
                }
            }

    }
    
        
    
}


.feliciano-footer{
    display: flex !important;
    background-color: black;
    justify-content: space-evenly;
    // max-width: 80%;
    font-family: Poppins;
    // padding: 10px 0;
    .wap-text{
        text-align:start;
    }
    h1{
        font-size: 20px;
        font-weight: 100;
        color: white;
    }
    p{
        font-size: 16px;
    }
    .feliciano-signup{
        text-align:left;
        align-items: flex-start;
        h3{
            font-size: 20px;
            color: white;
        }
        form{
            // height: 100%;
            width: 100%;
            input,button:not(.tool-element){
                text-align: center;
                width: 100%;
                min-height: 40px;
                // height: 100%;
            }
            button:not(.tool-element){
                background-color: rgb(200, 169, 126);
                color: rgba(255, 255, 255, 0.7);
            }
            input:not(.tool-element){
                background-color: rgba(255, 255, 255, 0.1);
                margin-bottom: 5px;
            }
        }

    }
}
.feliciano-footer>*{
    // max-width: 20%;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
    h3{
        font-size: 16px;
        text-align:left;
        font-weight: 100;
        margin-bottom: 0;
    }
}


@media (max-width : 800px) {
    .wap-gallery-feli{
        flex-direction: column;
    }
    .wap-container-flex{
        flex-direction:column;
        align-items: center;
    }
    .wap-container-center{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        img{
            width: 70%;
        }
       
    }
    .feliciano-menu-gallery{
        flex-direction:column;
        align-items: center;
        .text-block{
            p{
                font-size: 17px;
            }
            h1{
                font-size: 24px;
            }
        }
    }
    .wap-chef-preview {
        align-items: center;
        img{
            width: 100%
        }
        .text-block{
            h1{
                margin: 0;
            }
            p{
                margin: 0;
            }
        }
    }
    .wap-catering-preview{
        width: 100%;
    }
    .wap-card-default{
        width: 100%!important;
    }
    // .feliciano-menu-gallery {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-template-rows: repeat(6, 1fr);
    //     row-gap: 15px;
    // }
    .text-block{
            h1{
                // font-size:12px!important;
            }
            p{
                font-size:10px;

            }
    }
    .wap-feliciano-detail-card .text-block {
        margin: 0px 40px !important;
    }
    .wap-card-default .text-block{
        padding: 0 !important;
    }
    .wap-feliciano-catering{
        line-height:1.2em;
    }
    .feliciano-footer{
        h1,h2,h3,p{
            font-size: smaller !important;
            line-height: 15px;
        }  
    }
    .wap-header-feliciano{
        .logo{
            // margin-top: 1rem;
        }
        .burger-btn{
            // margin-inline-end: 40px;
            display: inline;
            // margin-top: 2rem;
        }
        .nav-bar {
            justify-content: space-around !important;
            position: fixed;
            top: 0;
            right: 0;
            height: 100vh;
            flex-direction: column;
            background-color: #292929;
            width: 200px;
            transform: translateX(100%);
            border-inline-start: 1px solid #292929;
            transition: transform .6s, box-shadow .6s;
        }
    }
    .feliciano-review-container{
        justify-content: space-around;        
    }
}



