.wap-card-default{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
    // width: 50%;
    .text-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 7px;
        h1{
            font-size:30px;
        }
        p{
            font-size:16px;
        }
        button:not(.basic-el-toolbar button){
            background-color: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: 1px rgba(0, 0, 0, 0.274) solid;
            transition: 0.6;
        }
        button:hover:not(.basic-el-toolbar button){
            color: #f9ca24;
            border-bottom: 1px #f9ca24 solid;
      
        }
    }
}    
.wap-card-default.sunnyside-card{
    
}

.wap-card-sunny{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width:50%;
    .text-block{
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1{
            font-size:35px;
            color: rgb(117, 204, 204);
        }
        p{
            font-size:13px;
        }
        button{
            background-color: rgba(236, 132, 62, 0);
            border: none;
            border-bottom: 1px rgba(0, 0, 0, 0.274) solid;
            transition: 0.6;
        }
        button:hover{
            color: #f9ca24;
            border-bottom: 1px #ffeba2 solid;
      
        }
    }
    
}    


.wap-card-small{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    height:15vh;
    .text-block{
        color: #000000;

    }
    img{
        border-radius:40%;
        width: 70%;
    }
  
}





//////////////////////////////////////
.wap-card-text-inside{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 55vh;
    align-items: center;
    // width:50%;
        h1{
            font-size:1.8em;
        }
        p{
            font-size:16px;
        }
        button{
            background-color: rgba(255, 255, 255, 0);
            border: none;
            border-bottom: 1px rgba(0, 0, 0, 0.274) solid;
            transition: 0.6;
        }
        button:hover{
            color: #f9ca24;
            border-bottom: 1px #f9ca24 solid;
      
        }
    
}    



.donut-card {
   
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
      padding:10px;

}