.wap-container-flex{
    display: flex;
    width: 100%;
}
.wap-container-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.wap-container-column{
    display: flex;
    width: 100%;
}


.wap-container-fullscreen{
    padding-top: 20px;
    color: white;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0;
    height: 100vh;
}

.feliciano-landing-page{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;
        
        
        .wap-header-feliciano{
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: 50% 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            grid-row: 1;
            grid-column: 1 / span 4;
            // background-color: coral;
            .nav-bar{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .landing-feliciano{
            grid-row: 2 / 5;
            grid-column: 1 / span 4;
            // background-color: cornflowerblue;
        }
        .card-dish{
            grid-row: 5 / -1;
            img{
                object-fit: contain;
                height: 50px;
                border-radius: 100vh;
            }
            // grid-column: span 2;
            // background-color: darkgreen;
        }

}



@media only screen and (max-width : 800px) {
    .wap-container-flex{
        flex-direction:column;
        align-items: center;
    }
    }