.wap-container-flex{
    display: flex;
    // padding: 4em 0px;
   
}
.wap-container-center{
    display: flex;
    justify-content: center;
   
}
.wap-container-reverse{
    display: flex;
   
}
.wap-container-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.wap-container-column{
    display: flex;
    width: 100%;
}


.wap-container-fullscreen{
    padding-top: 20px;
    color: white;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 50% 0;
    background-color: rgb(136, 136, 136);
    height: 100vh;
}

.feliciano-landing-page{

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        // grid-column-gap: 0px;
        // grid-row-gap: 0px;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-blend-mode:darken;
        background-position: 50% 0;
        height: 100vh;

        .wap-header-feliciano{
      
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 10px;
            color: white;
            grid-row: 1;
            grid-column: 1 / span 4;
            // background-color: coral;
            .nav-bar{
                display: flex;
                align-items: center;
                justify-content: space-between;
                a{
                    margin-right: 50px;

                }
                a:hover{
                   color: #c8a97e;

                }
            }
            .logo{
                h2{
                    margin-inline-start: 50px
                }
            }
        }
        .landing-feliciano{
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-row: 2 / 5;
            grid-column: 1 / span 4;
            h1{
                font-size:3em;
                font-family: arial,sans-serif;
                color: rgb(255, 255, 255);
            }
            // background-color: cornflowerblue;
        }
        .card-dish{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            grid-row: 5 / -1;
            color: rgba(255, 255, 255, 0.733);
            padding-top: 15px;
            .text-block{
                display: flex;
                flex-direction: column;
                align-items: center;
                
            
                h1{
                    margin: 0;
                }
                p{
                    max-width: 15ch;
                    margin: 0;
                    
                }

            }
            img{
                height: 70px;
                border-radius: 50%;
            }
            // grid-column: span 2;
            // background-color: darkgreen;
        }

}


.feliciano-menu-gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    img{
        
        vertical-align: middle;
    }
    .feliciano-menu-gallery>*{
        grid-row: span 1;
        grid-column: span 1;
    }
    .wap-img-menu{

    }
    .text-block{
        display: flex;
        justify-content:center;
        flex-direction:column;
        align-items: flex-start;
        padding-left: 10px;
        h1{
            font-size: 16px;
            margin: 0;
            max-width:18ch;
        }
        p{
            margin: 0;
        }
        button:not(.tool-element){
            background-color: #c8a97e;
            border: none;
        }
    }  
        
}

.wap-menu-card{
    display: flex;
    align-items: center;
    justify-content:center;
    h1{
        font-size: 16px;
    }
    button{
        background-color: #c8a97e;
        border: none;
    }
}

.wap-chef-preview{
    display: flex;
    flex-direction: column-reverse;
    // width:25%;
    padding: 20px;

    .text-block{
        h1{
            font-size:1.2em;
        }
        button:not(.tool-element){
            background-color:#c8a97e;
            border: none;
        }
    }
}
.wap-catering-preview{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.226);
    width:33%;
    padding: 10px;
    
    .basic-img{
        max-width: 50%;
        img{
            object-fit: contain;

        }
    }

    .text-block{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            font-size:1.2em;
        }
        p{
            // font-size:16px;
        }
    }
}

.feliciano-review-container{
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: $White;
        grid-template-columns: repeat(auto-fit, minmax(100px, 360px));
        width: 100%;
        .feliciano-review{
            position: relative;
            padding: 2em;
            color: rgba(61, 61, 61, 0.685);
            border-radius: 0.3em;
            max-width: 360px;

            .review-card{
                p{
                    font-size:18px;
                    font-family: Montserrat;
                    margin:0;

                }
            }
            .customer :nth-child(2){
                gap: 0;
                p{
                    font-family:Montserrat;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.623);
                    padding-left: 10px;
                }
            }
            .customer :nth-child(3){
                gap: 0;
                P{
                    color: rgba(0, 0, 0, 0.623);
                    padding-left: 10px;
                    font-size: 14px;
                    color: #c8a97e;
                }
            }

    }
    
        
    
}


@media only screen and (max-width : 800px) {
    .wap-container-flex{
        flex-direction:column;
        align-items: center;
    }
    .wap-container-center{
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        img{
            width: 70%;
        }
       
    }
    .wap-catering-preview{
        width: 100%;
    }
    .wap-card-default{
        width: 100%!important;
    }
    }