* {
    box-sizing: border-box;
    user-select: none;

}

html {
//    font-family: Montserrat; 
//    font-family: GreatVibes; 
   font-family: Opensans, sans-serif;  
   color: $clr2;
   line-height: 1.8;
}



body {
    margin: 0;
    background-size: 400px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem;
}

ul{
    list-style: none;
}


img {
    width: 100%;
}

p {
    margin: 0 0 1rem;
    max-width: 60ch;
}

// section[class*="wap"]{
//     position: relative;
// } 