.theme-gallery-architecture{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);


    .gallery-title{
        font-size:3em;
        padding-left: 10px;
        font-family: poppins;
      
    }
        img{
           min-height: 90vh;
           object-fit:contain;
       }
}
