
.fylo-main{
    font-family: 'Open Sans', sans-serif;  //400,700
    // font-family: 'Raleway', sans-serif;  //400,700
    font-size: 14px;
    font-weight: 400;
    background: $Dark-Blue-main-bg;
}
