.theme-hero-fylo-v1{
    display: flex;
    flex-direction: column;
    align-items: center;
    // gap: 2em;
    color: $White;
    width: 100%;
    margin: 0 auto;
    padding: 0 10%;
    background-color: $Dark-Blue-intro-and-email-sign-up-bg;
    background-image: url(~@/assets/wap-imgs/fylo-imgs/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;

    img:not(.tool-element img ,.element-editor-cmp img){
        max-width: 500px;
    }


.theme-text-fylo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    text-align: center;

    h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 1.5em;
        font-size:1.5em;
    }
}
button:not(.element-tool-bar .tool-element ,.element-editor-cmp button , .basic-el-toolbar button){
    padding: 1em 5em;
    border: none;
    border-radius: 50em;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: $White;
    background: linear-gradient(to right, $Cyan 5%, $Blue);
    margin-bottom: 3em;

    &:hover{
        cursor: pointer;
        background: linear-gradient(to right, hsl(176, 73%, 72%) 5%, hsl(198, 72%, 65%));
    }
}
}

@media only screen and (min-width : 768px) {
    .theme-gallery-fylo-single{
        background-image: url(~@/assets/wap-imgs/fylo-imgs/bg-curvy-desktop.svg);
        img{
            margin-top: 5em;
        }
    }
    .fylo-text{
    
        h1{
            font-size: 2rem;
        }
        button{
            padding: 1em 7em;
        }
        p{
            font-size: 1rem
        }
    }
}