.theme-gallery-fylo{
    display: flex !important;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 3em;
    background-color: #181f2a;
    width: 100%;
    margin: 0 auto;


.theme-card-fylo-inner{
    text-align: center;
    max-width: 450px;
    padding: 3em;
    color: $White;


    img:not(.element-tool-bar ,.tool-element img){
        margin-bottom: 2em;
        object-fit: contain;
         width: 30%;

    }
    h1{
        font-family: 'Raleway', sans-serif;
        font-size: 1.3rem;
        margin-bottom: 0.8em;
    }
}
}

@media  (max-width : 800px) {
    .theme-gallery-fylo{
        flex-direction: column;
        // grid-template-columns: 1fr 1fr;
    
    }
}